.plant-hero {
  position: relative;
  height: 35vh;
}

.plant-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-back-btn {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 2;
  background: none;
  border: none;
  cursor: pointer;
}

.plant-content {
  padding: 16px;
}

.meta {
  margin: 10px 0;
  color: #666;
}

.desc {
  margin-top: 12px;
  line-height: 1.4;
}
