.settings {
  min-height: 100vh;
  background: #f5f5f5;
}

.settings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0.5rem;

  color: white;
  background-image: url('../assets/img/heder-green.svg');
  background-size: cover;
}

.settings-header h1 {
  font-weight: 600;
  font-size: 20px;
}
.back-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  transform: translateY(15px);
}
.back-arrow {
  width: 1.5rem;
  height: 1.5rem;
}
.back-text {
  transform: translateY(15px);
}

.settings-content {
  padding: 30px 20px;
  text-align: center;
}

.settings-logo img {
  width: 120px;
  margin-bottom: 10px;
  cursor: pointer;
}

.settings-menu {
  list-style: none;
  padding: 20px 10px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.settings-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  color: #6a6f7d;
  font-size: 16px;
  cursor: pointer;
}
.settings-item:not(:last-child) {
  border-bottom: 1px solid rgba(160, 155, 155, 0.2);
}

.settings-icon {
  width: 20px;
  height: 20px;
}
